In [1]:
import pandas as pd
import numpy as np

In [2]:
flip = pd.read_csv("flip.csv", encoding= 'unicode_escape')
amaz = pd.read_csv("amz.csv", encoding= 'unicode_escape')

In [3]:
flip.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

In [4]:
# droping the unwanted columns in flipkart dataset
flip = flip.drop(['uniq_id', 'crawl_timestamp', 'product_url',
       'product_category_tree', 'pid','image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'], axis=1)

In [5]:
amaz.columns

Index(['uniq_id', 'crawl_timestamp', 'product_url', 'product_name',
       'product_category_tree', 'pid', 'retail_price', 'discounted_price',
       'image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'],
      dtype='object')

In [6]:
# droping the unwanted column in amazon dataset
amaz= amaz.drop(['uniq_id', 'crawl_timestamp', 'product_url',
       'product_category_tree', 'pid','image', 'is_FK_Advantage_product', 'description', 'product_rating',
       'overall_rating', 'brand', 'product_specifications'], axis=1)

In [7]:
# based on product name merging the similar columns from  both the datasets
results = amaz.merge(flip, on="product_name", how="inner")
results.to_csv("results.csv")

In [8]:
results = pd.read_csv("results.csv")

In [9]:
results.head(20)

,Unnamed: 0,product_name,retail_price_x,discounted_price_x,retail_price_y,discounted_price_y
0,0,Alisha Solid Women's Cycling Shorts,982.0,438.0,999.0,379.0
1,1,Alisha Solid Women's Cycling Shorts,982.0,438.0,699.0,267.0
2,2,Alisha Solid Women's Cycling Shorts,982.0,438.0,1199.0,479.0
3,3,Alisha Solid Women's Cycling Shorts,982.0,438.0,1199.0,479.0
4,4,Alisha Solid Women's Cycling Shorts,982.0,438.0,999.0,379.0
5,5,Alisha Solid Women's Cycling Shorts,982.0,438.0,999.0,379.0
6,6,Alisha Solid Women's Cycling Shorts,982.0,438.0,NaN,NaN
7,7,Alisha Solid Women's Cycling Shorts,694.0,325.0,999.0,379.0
8,8,Alisha Solid Women's Cycling Shorts,694.0,325.0,699.0,267.0
9,9,Alisha Solid Women's Cycling Shorts,694.0,325.0,1199.0,479.0
10,10,Alisha Solid Women's Cycling Shorts,694.0,325.0,1199.0,479.0
11,11,Alisha Solid Women's Cycling Shorts,694.0,325.0,999.0,379.0
12,12,Alisha Solid Women's Cycling Shorts,694.0,325.0,999.0,379.0
13,13,Alisha Solid Women's Cycling Shorts,694.0,325.0,NaN,NaN
14,14,Alisha Solid Women's Cycling Shorts,1198.0,602.0,999.0,379.0
15,15,Alisha Solid Women's Cycling Shorts,1198.0,602.0,699.0,267.0
16,16,Alisha Solid Women's Cycling Shorts,1198.0,602.0,1199.0,479.0
17,17,Alisha Solid Women's Cycling Shorts,1198.0,602.0,1199.0,479.0
18,18,Alisha Solid Women's Cycling Shorts,1198.0,602.0,999.0,379.0
19,19,Alisha Solid Women's Cycling Shorts,1198.0,602.0,999.0,379.0

In [10]:
#create duplicate product column for amazon
results['product name in amazon'] = results.loc[:, 'product_name']

In [11]:
# deleting the unwanted column
results = results.drop(['Unnamed: 0'], axis=1)

In [12]:
# changing the column names as required
results = results.rename(columns={'product_name':'product name in flipkart', 'retail_price_x':'retail price in flipkart', 
                        'retail_price_y':'retail price in amazon', 'discounted_price_x':'discounted price in flipkart',
                        'discounted_price_y':'discounted price amazon'})

In [14]:
# to get the columns in required position
results = results[['product name in flipkart', 'retail price in flipkart', 'discounted price in flipkart', 
                   'product name in amazon','retail price in amazon','discounted price amazon']]

In [15]:

# condition mask
mask = results['product name in flipkart'] == "Alisha Solid Women's Cycling Shorts"
 
# new dataframe with selected rows
df_new = pd.DataFrame(results[mask])
df_new.head()

,product name in flipkart,retail price in flipkart,discounted price in flipkart,product name in amazon,retail price in amazon,discounted price amazon
0,Alisha Solid Women's Cycling Shorts,982.0,438.0,Alisha Solid Women's Cycling Shorts,999.0,379.0
1,Alisha Solid Women's Cycling Shorts,982.0,438.0,Alisha Solid Women's Cycling Shorts,699.0,267.0
2,Alisha Solid Women's Cycling Shorts,982.0,438.0,Alisha Solid Women's Cycling Shorts,1199.0,479.0
3,Alisha Solid Women's Cycling Shorts,982.0,438.0,Alisha Solid Women's Cycling Shorts,1199.0,479.0
4,Alisha Solid Women's Cycling Shorts,982.0,438.0,Alisha Solid Women's Cycling Shorts,999.0,379.0